body {
  font-family: "Roboto", sans-serif;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 50%, 50%;
  border-radius: 5%;
  background-image: none;
  margin-top: -150px;
  margin-left: 10px;
}

.carousel-control-next-icon:after
{
  content: "\00BB";
  font-size: 85px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '\00AB';
  font-size: 85px;
  color: black;
}

// Full page responsive background image
#ok100 {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  margin-left: 100px;

  background-size:cover;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*.modal-backdrop {
   background-color: transparent;
}*/

div.bg-color {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.9;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}


#student-asgn-form {
	margin-left: 40%;
}

input[type=text] {
	width: 70%;
	outline:none;
    border: none;
    border-bottom: 2px solid #02899C;  
}

.form-check  [type=checkbox] {
    background: red !important;
    background-color: red !important;
    color: red !important;
  }

#student-asgn-form {
	margin-top: 10%;
	height: 100%;
}

#student-asgn-form label {
	margin-top:4%;
	font-style:bold;
	font-size:12px;
}

#post-asgn {
	margin-left: 40%;
	margin-top: 2%;
	font-size: 25px;
}

#cal {
	width:50%;
}

hr {
    border: 2px solid #A9A9A9;
}

.trial {
	background-color: #0f4c75;
	width: 30%;
	border-color: #00a8cc;
}

.tutorProfile {
	width: 90vw;
	max-width: 90vw;
}

.configParam {
	width: 40vw;
	max-width: 40vw;
	border-radius: 40px !important;
	borderRadius: 40px !important;
	overflow: hidden;
}

.image {
	width: 50vw;
	max-width: 50vw;
	border-radius: 40px !important;
	borderRadius: 40px !important;
	overflow: hidden;
	background-color: transparent;
}


.btn-next {
	margin-top:2%;
	margin-left:5%;
	background-color:#02899C;
	border-color:#02899C;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	width:35%;
}

.btn-previous {
	margin-top:2%;
	margin-left:5%;
	background-color:#8fc0a9;
	border-color:#02899C;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
	width:35%;
}

#step-heading {
	width:70%;
	font-size:25px;
	margin-top: -6%;
	margin-bottom: 1%;
	color: #A9A9A9;
}

#steps-container {
	width: 50%;
	
	margin-left:40%;
	margin-top: 0%;
	font-family: Arial;
	font-size: 25px;
	color: #02899C;
}

#stepinfo {
	margin-left:0%;
	margin-top: 0%;
	font-family: Arial;
	font-size: 12px;
	color: #02899C;
}

#left-element {
    display: inline-block;
    float: left;
}

#right-element {
	margin-left: 5%;
    display: inline-block;
    float: left;
}

.modal-dialog  {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; 
}

.editor {
	border-width:10px !important;
	height: 50% !important;
}


.navbar-light {
  padding: 15px;
/*  background: #57007e;*/
  background: #301b3f;
  width: 100%;
  height: 65px;
  position: relative;
  z-index: 9;
  opacity:90%;
  -webkit-box-shadow: 0 6px 6px -6px #999;
  -moz-box-shadow: 0 6px 6px -6px #999;
  box-shadow: inset 6px 6px 6px -6px #000000;
  margin: 0px 0px 1px 0px;
}

.navbar-brand {
  color: #fff !important;
  font-weight: 500;
  margin-left: 0px;
}

.navbar-nav a {
  font-size: 15px;
  color: #fff !important;
  font-weight: 500;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  letter-spacing: 0.5px;
}

.signin .modal-body,
.signup .modal-body,
.completeprofile .modal-body {
  padding: 25px 35px;
}
.signup .modal-head {
  margin: 10px 0 20px;
}
.signup label {
  color: #aaa;
  margin-bottom: 5px;
}
.signup .form-control {
  border: 1px solid #bbbaba;
}
.signup .other-option {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.signup .other-option span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  color: #999;
}
.signup .other-option:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #ddd;
  top: 10px;
}
.signup .btn-info {
  letter-spacing: 2px;
}
.signup p {
  color: #707070;
  margin: 40px 0 20px;
}
.signup .close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #c4c4c4;
}
.signup .social-links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.signup .social-links li {
  list-style: none;
  background: #fff;
  font-size: 14px;
  padding-right: 10px;
  -webkit-box-shadow: 0 0 15px 3px #eee;
  box-shadow: 0 0 15px 3px #eee;
  font-weight: 300;
  letter-spacing: 1px;
}
.signup .social-links li .fa-facebook {
  padding: 10px 0;
  background: #007bff;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
.signup .social-links li:hover {
  cursor: pointer;
}
.signup .social-links li .fa-google-plus {
  padding: 10px 0;
  background: #db4a39;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  width: 40px;
  text-align: center;
}
.modal-head h4 {
  text-align: center;
  color: #777;
  border-bottom: 0px solid #eee;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.terms-text {
  font-size: 14px;
  color: #999;
  margin: 10px 0 !important;
}
#hero-slider .carousel-item img {
  height: 500px;
  object-fit: cover;
}

#hero-slider:before {
  content: "";
  top: 0;
  left: 0;
  background: rgba(36, 128, 123, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#feature-section-wrapper {
  background: #fff;
  color: #777;
  margin-top: 5px;
  padding-bottom: 140px;
  margin-bottom: 5px;
  height: 140px;
}

#feature-section-wrapper .card-group {
  padding: 20px 0;
}

#feature-section-wrapper .card {
  font-size: 17px;
  color: #fff;
  background: #481380;
  border: none;
  border-right: 2px solid #eee;
}

#feature-section-wrapper .card .card-title {
  font-size: 20px;
  /*color: #844685;*/
  color:#fff;
  letter-spacing: 1px;
}

#feature-section-wrapper .card:last-child {
  border-right: none;
}

#getstarted-section-wrapper {
  background: #e0ece4 !important;
  color: #000000;
}

#getstarted-section-wrapper .jumbotron {
  background: #222831;
  color: #57007e;
  text-align: center;
  margin-bottom: 0;
}

#getstarted-section-wrapper2 .jumbotron {
  background: #222831;
  color: #57007e;
  text-align: center;
  margin-bottom: 0;
  height: 150px;
}

#getstarted-section-wrapper2 .jumbotron p {
  font-size: 18px;
  color: #000000;
  width: 60%;
  margin: 20px auto;
}

#getstarted-section-wrapper2 .jumbotron button {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 35px;
  background-color: #0f7d8e;
  border-color: #0f7d8e;
  letter-spacing: 1px;
}

#getstarted-section-wrapper2 .jumbotron button:hover {
  -webkit-box-shadow: 0 0 5px #0f7d8e;
  box-shadow: 0 0 5px #0f7d8e;
}

#getstarted-section-wrapper .jumbotron p {
  font-size: 18px;
  color: #000000;
  width: 60%;
  margin: 20px auto;
}

#getstarted-section-wrapper .jumbotron button {
  border-radius: 50px;
  font-size: 16px;
  padding: 10px 35px;
  background-color: #0f7d8e;
  border-color: #0f7d8e;
  letter-spacing: 1px;
}

#getstarted-section-wrapper .jumbotron button:hover {
  -webkit-box-shadow: 0 0 5px #0f7d8e;
  box-shadow: 0 0 5px #0f7d8e;
}

#review-slider-wrapper {
  padding: 60px 0;
  background: #f5f5f5;
}

#review-slider-wrapper .review-slide {
  position: relative;
}

#review-slider-wrapper .review-slide .user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 15px;
}

#review-slider-wrapper .review-slide .user-name {
  letter-spacing: 0.8px;
  font-size: 18px;
}

.user-review {
  -webkit-box-shadow: 0 5px 5px -1px #eee;
  box-shadow: 0 5px 5px -1px #eee;
  margin: -35px 20px 0 0;
  padding: 55px 15px 15px 15px;
  background: #fff;
  transition: all 1s ease;
}

/* #review-slider-wrapper .slick-list .slick-current .user-review {
  box-shadow: 0 15px 15px -1px #6d6d6d;
} */

.rating-wrapper {
  margin-bottom: 20px;
}
.fa-star {
  padding-right: 5px;
  font-size: 14px;
  color: #bbb;
}

.fa-star.checked {
  color: orange !important;
}
.fa.fa-quote-left {
  color: #ddd;
}
.review-text {
  font-size: 13px;
  color: #777;
  margin: 0 15px;
  text-align: justify;
}
#trending-section-wrapper {
  position: relative;
  overflow: hidden;
}
#trending-section-wrapper::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #63dfd91a;
  top: -40px;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 150%;
  left: -90px;
  transform: rotate(360deg);
}

#trending-section-wrapper::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #63dfd91a;
  bottom: -40px;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 150%;
  right: -90px;
  transform: rotate(180deg);
}

#trending-section-wrapper .jumbotron {
  background: none;
  text-align: center;
}

#trending-section-wrapper .category-badge {
  padding: 12px 35px;
  font-size: 16px;
  border-radius: 25px;
  background: none;
  border: 2px solid #ccc;
  color: #999;
  margin: 0 15px 15px 0;
  letter-spacing: 1px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#trending-section-wrapper h1 {
  color: #6d6d6d;
}
#trending-section-wrapper .category-badge:hover {
  cursor: pointer;
  border-color: #555;
  color: #555;
}
.category-wrapper {
  margin: 60px auto 0;
  width: 60%;
}

.footer {
  background: #060930;
  padding: 10px 0 0px;
  height: 300px;
}
.footer ul {
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  text-decoration: none;
}

.footer .social-links li {
  display: inline;
  margin-left: 15px;
  padding: 10px 15px;
  border-radius: 2px;
}
.footer .social-links li.facebook {
  background: #3b5998;
}

.footer .social-links li.twitter {
  background: #00acee;
}

.footer .social-links li.linkedin {
  background: #0e76a8;
}
.footer .social-links li.google {
  background: #db4a39;
}

#profile-details {
  padding-top: 20px;
  background: #f5f5f5;
}

#profile-details .card {
  border: none;
  -webkit-box-shadow: 0 0 5px 0px #ddd;
  box-shadow: 0 0 5px 0px #ddd;
}

#profile-details .userview-image {
  display: block;
  width: 100px;
  margin-right: 15px;
}
#profile-details .userdetails {
  margin-bottom: 15px;
}
#profile-details .userdetails .card-img-top {
  width: 150px;
  height: 150px;
  margin: 15px auto 0;
  border-radius: 50%;
}

#profile-details .userdetails .card-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

#profile-details .userdetails .card-subtitle {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}

#profile-details .userdetails .card-footer {
  background-color: #fdfdfd;
}
#profile-details .userdetails .list-group-item {
  padding: 0.75rem 0;
  background: none;
}

#profile-details .userdetails .card-text-title {
  margin-bottom: 0;
  font-size: 14px;
  color: #333;
  letter-spacing: 0.5px;
}

#profile-details .userdetails .card-text-value {
  margin-bottom: 0;
  font-size: 14px;
  color: #777;
  font-weight: 300;
  letter-spacing: 1px;
}

#profile-details .userdetails .card-text-value .fa-usd {
  color: #999999;
}

/*===================== JOB LIST PAGE ======================*/
#joblist {
  display: flex;
  position: relative;
  background: #475a5d14;
}

#joblist .sidebar {
  width: 350px;
  background: #fff;
  -webkit-box-shadow: 0px -20px 15px 0 #ccc;
  box-shadow: 0px -20px 15px 0 #ccc;
  position: relative;
}

#joblist .sidebar.slider {
  position: fixed;
  z-index: 9;
  box-shadow: none;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  left: -280px;
  width: 280px;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#joblist .sidebar.slider.open {
  left: 0px;
}

#joblist .sidebar.slider.open::before {
  content: "";
  position: fixed;
  background: #0000005c;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#joblist .sidebar .sidebar-title {
  position: relative;
  background: #fff;
}

#joblist .sidebar-title .fa-times {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 5px;
  color: #999;
}

#joblist .sidebar-title .fa-times:hover {
  cursor: pointer;
}

.sidebar-title h5 {
  color: #aaa;
  font-size: 16px;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
}

.sidebar .sidebar-body {
  padding: 15px 25px;
  position: relative;
  background: #fff;
}
.sidebar .sidebar-body .filter-type {
  padding: 25px 0;
  border-bottom: 1px solid #eee;
}
.sidebar .sidebar-body .filter-type:first-child {
  padding-top: 0;
}
.sidebar .sidebar-body:last-child .filter-type {
  border: none;
}
.sidebar .sidebar-body .filter-type-title {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.job-type .form-check {
  font-size: 14px;
  color: #555;
  padding: 0;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #17a2b8 !important;
  background-color: #17a2b8 !important;
}

#joblist .joblist-wrapper {
  padding: 0 30px;
  width: 100%;
}
#joblist .searchbar-wrapper {
  display: flex;
  background: #fff;
  margin-bottom: 20px;
  padding: 15px 15px 0 15px;
  box-shadow: 0 0 15px 0 #cccccc;
}
#joblist .searchbar-wrapper input.search {
  width: 50%;
}
#joblist .searchbar-wrapper .filter-icon {
  display: flex;
  background: #17a2b8;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 44px;
  margin: 0 10px 15px 0;
  color: #fff;
  border-radius: 4px;
}
#joblist .searchbar-wrapper .filter-icon:hover {
  background: #0f7888;
  cursor: pointer;
}
#joblist .joblist-wrapper .card {
  border: none;
  box-shadow: 0 0 15px 0 #cccccc;
  padding: 0 15px;
  margin-bottom: 25px;
}

#joblist .joblist-wrapper .card .job-time {
  font-size: 12px;
  margin-bottom: 15px;
  color: #999999;
}

#joblist .joblist-wrapper .card .card-title {
  color: #555;
  font-weight: 700;
}

#joblist .joblist-wrapper .card .card-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #999 !important;
}

.job-desc {
  font-size: 14px;
  color: #777;
  text-align: justify;
}

#joblist .nav-item .nav-link, #joblist .nav-item .nav-link:hover{
 color: #17a2b8;
}

#joblist .nav-item .nav-link.active{
  color: #17a2b8;
  background-color: #EEE;
}

#joblist .tutor-card:hover{
  box-shadow: 0 0 5px 0px #aaa;
}
#joblist .tutor-card .card-img-top{
  width: 75px;
  height: 75px;
  margin-right: 15px;
  border-radius: 10px;
}


#joblist .tutor-card .card-title{
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
}
#joblist .tutor-card .card .card-subtitle{
  margin-bottom: 0 !important;
  color: #999;
}

#joblist .tutor-card  .tutor-performance .d-flex{
  margin: 10px 0;
}
.tutor-card .tutor-performance p{ 
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 500;
  color: #777;
}

.tutor-card .tutor-performance > span{ 
  font-weight: 300;
  font-size: 14px;
}

.edit-profile-icon{
  position: absolute;
  right: 10px;
  top: 10px;
}

.edit-profile-icon:hover, #profile-details .fa-pencil:hover{
  cursor: pointer;
}

.font-12{
  font-size: 12px;
  color: #999;
}

.edit-profile .card-img-top:hover + .edit-profile-img,
.edit-profile .edit-profile-img:hover{
  display: flex;
  position: absolute;
  background: rgba(0,0,0,0.5);
  height: 150px;
  width: 150px;
  left: 0;
  right: 0;
  border-radius: 50%;
  margin: 15px auto 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.edit-profile-img{
  display: none;
}

.edit-profile-img .fa-pencil{
  color: #fff;
}